.navbar-custom {
    background: linear-gradient(90deg, #BE1522 0%, #161616 100%);
    z-index: 1000;
   
  }
  
  .navbar-custom .nav-link {
    color: #fff !important;
    font-weight: 600;
  }
  
  .navbar-custom .navbar-nav {
    display: flex;
    gap: 50px;
  }
  
  .navbar-custom .nav-link:hover {
    color: #f0f0f0 !important;
  }
  
  .navbar-toggler {
    color: #fff !important;
    margin-right: 20px;
  }
  
  .navbar-toggler-icon {
    color: #fff !important;
    font-size: 25px;
  }
  
  .navbar-brand img.logo {
    max-width: 160px;
    height: 100px;
    gap: 0px;
    opacity: 1px;
    margin-left: 20px;
  }
  
  .search-icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .search-icon {
      display: none;
    }
  
    .navbar-collapse {
      justify-content: center;
    }
  
    .navbar-custom .navbar-nav {
      gap: 0;
    }
  }
  
  .header-section {
    background-color: white;
  }
  @media (min-width: 769px) and (max-width: 1024px) {
   
  
    @media (max-width: 768px) {
      .search-icon {
        display: none;
      }
    
      .navbar-collapse {
        justify-content: center;
      }
    
      .navbar-custom .navbar-nav {
        gap: 0;
      }
    }
    
  
  
  
  
  }