.coco{
    overflow: hidden;
    
}
#adress{
font-size: 12px;
font-weight: 400;
}
.COLLOW{
    background: linear-gradient(90deg, rgba(190, 21, 34, 0.1) 0%, rgba(22, 22, 22, 0.1) 100%);
    padding: 15px;
    border-radius: 15px;


}
.Efficient{
    font-weight: 500;

}

#cartwo,#hands,#shipped{
    border-left: 2px solid rgba(120, 12, 21);
    font-weight: 500;
    border-radius: 2px;
    height: 170px;
}

@media only screen and (max-width: 767px) {
    #carone,  #cartwo,#hands,#shipped{
        border-left: none; 
        border-bottom: 2px solid rgba(120, 12, 21); 
        padding: 10px;
        margin-top: 20px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #carone,  #cartwo,#hands,#shipped{
        border-left: 2px solid rgba(120, 12, 21,0.5); 
        border-bottom: 2px solid rgba(120, 12, 21,0.5); 
        border-top: 2px solid rgba(120, 12, 21,0.5); 
        border-right: 2px solid rgba(120, 12, 21,0.5); 
        padding: 10px;
        margin-top: 20px;
    }



}
