/* ourmission.css */
#leftMission {
  background-image: url('../assets/IMGS/MISSION/Ellipsee.svg');
  background: linear-gradient(270deg, #BE1522 0%, #161616 100%);
  width: 50%;  /* 50% من العرض */
  height: 28vw;  /* يتناسب مع العرض */
  top: 20px;
  left: -230px;
  gap: 0px;
  opacity: 0px;
  border-radius: 30px;
  z-index: 5;
}

  .LOL{
    margin-top: 40px;
  }
  #MAP {
    width: 70%;
    height: 300px;
    margin-left: 220px;
    border-radius: 20px;
    margin-top: -44px;
    cursor: pointer;
  }
  
  /* Media query for mobile and tablet screens */
  @media (max-width: 768px) {
    .LOL {
      padding: 0;
      margin-top: 20px;
    }
  
    #leftMission {
      background-size: cover;
      background-position: center;
      width: 95%;
      height: 40vh;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;
      top: 0;
      border-radius: 0;
    }
  
    #MAP {
      width: 96%;
      height: auto;
     margin: 0%;
     margin-bottom: 150px;
      border-radius: 20px;
      cursor: pointer;
    }
  
    .rightMission {
      display: none;
      width: 100%;
     
    }
  }
  #FRAME{
width: 200px;
height: 180px;
margin-top: -50px;
  }
  #access{
padding: 10px;
margin-top: -50px;



  }
  #small{
padding: 10px;
color: black;
letter-spacing: 1px;


  }
  .focus{
    color: #BE1522;
  }
  #access{
    font-weight: 600;
    letter-spacing: 1px;
  }
  #Vactor{
    width: 100%;
  }
  